
@{
    ViewBag.Title = "EmailNotConfirmed";
}

<h2>Email nie potwierdzony</h2>

<p>Email nie został potwierdzony. Aby odblokować mozliwość logowania, kliknij w lącze przesłane w wiadomości email, przesłanej na adres podany szkole. Jeśli nie otrzymałeś takiego Emaila, kliknij @Html.ActionLink("tutaj", "SendEmailConfirmationToken", new {userId=ViewBag.UserId }) </p>

