@{
    ViewBag.Title = "O stronie";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<div class="jumbotron">
    <p>Aplikcja E-dziennik została stworzona jako projekt zaliczeniowy przedmiotu Asynchroniczne Interfejsy WWW, na studniach magisterkich kierunku Informatyka o specjalności "Zintegrowane systemy zarządzania i analizy danych" na Politechnice Częstochowkiej.<p>
    <p> Niniejsza aplikacja została napisana przy wykorzystaniu technologi ASP .NET MVC 5, JQuery oraz JavaScript. </p>
</div>
