@{
    ViewBag.Title = "Strona domowa";
}

<div class="jumbotron">
    <h1>E-Dziennik</h1>
    <p class="lead">Witaj w aplikacji E-dziennik, ma ona za zadanie wspomóc pracę nauczycieli i byc alternatywą dla papierowych dziennków klasowych</p>
    <p><a href="/Home/About" class="btn btn-primary btn-lg">Dowiedz się więcej &raquo;</a></p>
</div>

