@using PagedList.Mvc
@model PagedList.IPagedList<edziennik.Models.ViewModels.LogListItemViewModel>
@section scripts{
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")
}

<link href="~/Content/PagedList.css" rel="stylesheet"
      type="text/css" />

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div id="LogList">
    @Html.Partial("_LogList")
</div>

@Html.PagedListPager(Model, page => Url.Action("Index", new { page, pageSize = Model.PageSize }))
