@using PagedList.Mvc
@model PagedList.IPagedList<edziennik.Models.ViewModels.MarkListItemViewModel>
@section scripts{
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")
}

<link href="~/Content/PagedList.css" rel="stylesheet"
      type="text/css" />

@{
    ViewBag.Title = "Lista ocen";
}

<h2>Oceny</h2>

<div id="MarkList">
    @Html.Partial("_MarkList")
</div>

@Html.PagedListPager(Model, page => Url.Action("Index", new { page, pageSize = Model.PageSize }))