@model edziennik.Models.IndexViewModel
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Zarządzanie kontem";
}

<h1 class="title">@ViewBag.Title</h1>

@if (ViewBag.StatusMessage != "")
{
    <div class="alert alert-info" role="alert">@ViewBag.StatusMessage</div>
}
<div>
    <h4>Zmiana ustawień konta</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Hasło:</dt>
        <dd>
            [
            @(Model.HasPassword ? Html.ActionLink("Zmień hasło", "ChangePassword") : Html.ActionLink("Stwórz", "SetPassword"))
            ]
        </dd>
        <dt>Avatar:</dt>
        <dd>
            <img src="@Url.Content(Html.Action("AvatarURL", "Account", new { userName = User.Identity.GetUserId()}).ToString())" alt="image" width="30" height="30" />
            [@Html.ActionLink("Zmień Avatar", "ChangeAvatar")]
        </dd>

    </dl>
</div>
